spring:
  application:
    name: SimpleBank
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:5432/SimpleBank
    username: username
    password: password

server:
  port: 8080

jwt:
  secret: long-secret-key
  access-token-expire-minutes: 15
  refresh-token-expire-minutes: 7
  issuer: SimpleBank